In [1]:
import pandas as pd

In [2]:
# Load original datasets (unmodified)
df_ChronicRD = pd.read_csv("Chronic respiratory .csv")
df_ChronicRD_hbm = pd.read_csv("Chronic respiratory desease W:HBM.csv")

In [3]:
#filter to have only the number of deaths
df_ChronicRD = df_ChronicRD[df_ChronicRD['measure_name'] == 'Deaths']
df_ChronicRD_hbm = df_ChronicRD_hbm[df_ChronicRD_hbm['measure_name'] == 'Deaths']

In [ ]:
#Standardize the location names
country_name_mapping = {
    "Federal Republic of Nigeria": "Nigeria",
    "Federative Republic of Brazil": "Brazil",
    "Kingdom of the Netherlands": "Netherlands",
    "Republic of India": "India"
}

df_ChronicRD['location_name'] = df_ChronicRD['location_name'].replace(country_name_mapping)

In [5]:
# Define 'Under 40' age bands
under_40 = [
    '10-14 years', '15-19 years', '20-24 years',
    '25-29 years', '30-34 years', '35-39 years'
]

# Create 'age_group' column
df_ChronicRD['age_group'] = df_ChronicRD['age_name'].apply(lambda x: 'Under 40' if x in under_40 else '40 and above')
df_ChronicRD_hbm['age_group'] = df_ChronicRD_hbm['age_name'].apply(lambda x: 'Under 40' if x in under_40 else '40 and above')

In [ ]:
#group by measure name
grouped_ChronicRD = df_ChronicRD.groupby(
    ['location_name', 'year', 'age_group', 'sex_name']
)['val'].sum().reset_index()

grouped_ChronicRD_hbm = df_ChronicRD_hbm.groupby(
    ['location_name', 'year', 'age_group', 'sex_name']
)['val'].sum().reset_index()

In [ ]:
#merge the two datasets
df_chronic_merged = pd.merge(
    grouped_ChronicRD,
    grouped_ChronicRD_hbm,
    on=['location_name', 'year', 'age_group', 'sex_name'],
    suffixes=('_total', '_hbm')
)

In [8]:
#create a column for the percentage of deaths due to HBM
df_chronic_merged['percent_hbm'] = (
    df_chronic_merged['val_hbm'] / df_chronic_merged['val_total']
) * 100

In [9]:
df_chronic_merged.head(80)

,location_name,year,age_group,sex_name,val_total,val_hbm,percent_hbm
0,Brazil,2015,40 and above,Female,4.867240e+04,665.946170,1.368221
1,Brazil,2015,40 and above,Male,6.064535e+04,350.289054,0.577602
2,Brazil,2015,Under 40,Female,2.930269e+02,20.297085,6.926697
3,Brazil,2015,Under 40,Male,4.192142e+02,12.182413,2.906012
4,Brazil,2016,40 and above,Female,5.073530e+04,689.035054,1.358098
...,...,...,...,...,...,...,...
75,India,2019,Under 40,Male,5.045460e+03,219.050302,4.341533
76,India,2020,40 and above,Female,1.115357e+06,26441.297362,2.370658
77,India,2020,40 and above,Male,1.320126e+06,16772.840041,1.270548
78,India,2020,Under 40,Female,4.568300e+03,278.113844,6.087907
79,India,2020,Under 40,Male,4.969997e+03,216.814239,4.362462

In [10]:
# Create formatted versions of total and HBM death columns
df_chronic_merged['val_total_formatted'] = df_chronic_merged['val_total'].apply(lambda x: f"{int(round(x)):,}")
df_chronic_merged['val_hbm_formatted'] = df_chronic_merged['val_hbm'].apply(lambda x: f"{int(round(x)):,}")

In [11]:
df_chronic_merged.to_csv("chronic_merged_clean.csv", index=False)

In [12]:
# Load original Stroke datasets (unmodified)
df_stroke = pd.read_csv("Chronic respiratory .csv")
df_stroke_hbm = pd.read_csv("Chronic respiratory desease W:HBM.csv")

In [13]:
#filter to have only the number of deaths
df_stroke = df_stroke[df_stroke['measure_name'] == 'Deaths']
df_stroke_hbm = df_stroke_hbm[df_stroke_hbm['measure_name'] == 'Deaths']

In [14]:
#Standardize the location names
country_name_mapping = {
    "Federal Republic of Nigeria": "Nigeria",
    "Federative Republic of Brazil": "Brazil",
    "Kingdom of the Netherlands": "Netherlands",
    "Republic of India": "India"
}

df_stroke['location_name'] = df_stroke['location_name'].replace(country_name_mapping)
df_stroke_hbm['location_name'] = df_stroke_hbm['location_name'].replace(country_name_mapping)

In [15]:
# Define 'Under 40' age bands
under_40 = [
    '10-14 years', '15-19 years', '20-24 years',
    '25-29 years', '30-34 years', '35-39 years'
]

# Create 'age_group' column
df_stroke['age_group'] = df_stroke['age_name'].apply(lambda x: 'Under 40' if x in under_40 else '40 and above')
df_stroke_hbm['age_group'] = df_stroke_hbm['age_name'].apply(lambda x: 'Under 40' if x in under_40 else '40 and above')

In [16]:
#group by measure name
grouped_stroke = df_stroke.groupby(
    ['location_name', 'year', 'age_group', 'sex_name']
)['val'].sum().reset_index()

grouped_stroke_hbm = df_stroke_hbm.groupby(
    ['location_name', 'year', 'age_group', 'sex_name']
)['val'].sum().reset_index()

In [17]:
#merge the two datasets
df_stroke_merged = pd.merge(
    grouped_stroke,
    grouped_stroke_hbm,
    on=['location_name', 'year', 'age_group', 'sex_name'],
    suffixes=('_total', '_hbm')
)

In [18]:
#create a column for the percentage of deaths due to HBM
df_stroke_merged['percent_hbm'] = (
    df_stroke_merged['val_hbm'] / df_stroke_merged['val_total']
) * 100

In [19]:
df_chronic_merged['val_total_formatted'] = df_chronic_merged['val_total'].apply(lambda x: f"{int(round(x)):,}".replace(",", "."))
df_chronic_merged['val_hbm_formatted'] = df_chronic_merged['val_hbm'].apply(lambda x: f"{int(round(x)):,}".replace(",", "."))

df_stroke_merged['val_total_formatted'] = df_stroke_merged['val_total'].apply(lambda x: f"{int(round(x)):,}".replace(",", "."))
df_stroke_merged['val_hbm_formatted'] = df_stroke_merged['val_hbm'].apply(lambda x: f"{int(round(x)):,}".replace(",", "."))

In [20]:
df_chronic_merged.to_csv("chronic_merged_clean.csv", index=False)
df_stroke_merged.to_csv("stroke_merged_clean.csv", index=False)

In [21]:
df_chronic_merged.to_csv("chronic_merged_clean.csv", index=False)

In [ ]:
# Load original datasets (unmodified) for diabetes
df_diabetes = pd.read_csv("Diabetes.csv")
df_diabetes_hbm = pd.read_csv("Diabetes hbm.csv")

In [ ]:
#filter to have only the number of deaths diabetes tables
df_diabetes = df_diabetes[df_diabetes['measure_name'] == 'Deaths']
df_diabetes_hbm = df_diabetes_hbm[df_diabetes_hbm['measure_name'] == 'Deaths']

In [ ]:
#Standardize the location names diabetes tables
country_name_mapping = {
    "Federal Republic of Nigeria": "Nigeria",
    "Federative Republic of Brazil": "Brazil",
    "Kingdom of the Netherlands": "Netherlands",
    "Republic of India": "India"
}

df_diabetes['location_name'] = df_diabetes['location_name'].replace(country_name_mapping)
df_diabetes_hbm['location_name'] = df_diabetes_hbm['location_name'].replace(country_name_mapping)

In [ ]:
# Define 'Under 40' age bands diabetes tables
under_40 = [
    '10-14 years', '15-19 years', '20-24 years',
    '25-29 years', '30-34 years', '35-39 years'
]

# Create 'age_group' column
df_diabetes['age_group'] = df_diabetes['age_name'].apply(lambda x: 'Under 40' if x in under_40 else '40 and above')
df_diabetes_hbm['age_group'] = df_diabetes_hbm['age_name'].apply(lambda x: 'Under 40' if x in under_40 else '40 and above')

In [28]:
#group by measure name diabetes tables
grouped_diabetes = df_diabetes.groupby(
    ['location_name', 'year', 'age_group', 'sex_name']
)['val'].sum().reset_index()

grouped_diabetes_hbm = df_diabetes_hbm.groupby(
    ['location_name', 'year', 'age_group', 'sex_name']
)['val'].sum().reset_index()

In [29]:
#merge the two diabetes datasets
df_diabetes_merged = pd.merge(
    grouped_diabetes,
    grouped_diabetes_hbm,
    on=['location_name', 'year', 'age_group', 'sex_name'],
    suffixes=('_total', '_hbm')
)

In [30]:
#create a column for the percentage of deaths due to HBM
df_diabetes_merged['percent_hbm'] = (
    df_diabetes_merged['val_hbm'] / df_diabetes_merged['val_total']
) * 100

In [31]:
# Format the 'val_total' and 'val_hbm' columns with dot as thousands separator
df_diabetes_merged['val_total_formatted'] = df_diabetes_merged['val_total'].apply(lambda x: f"{int(round(x)):,}".replace(",", "."))
df_diabetes_merged['val_hbm_formatted'] = df_diabetes_merged['val_hbm'].apply(lambda x: f"{int(round(x)):,}".replace(",", "."))

In [32]:
df_diabetes_merged.to_csv("diabetes_merged.csv", index=False)

In [33]:
df_IschemicHeart = pd.read_csv("Ischemic heart disease.csv")
df_IschemicHeart_hbm = pd.read_csv("Ischemic heart disease W:HBM.csv")

In [ ]:
#filter to have only the number of deaths Ischemic Heart tables
df_IschemicHeart = df_IschemicHeart[df_IschemicHeart['measure_name'] == 'Deaths']
df_IschemicHeart_hbm = df_IschemicHeart_hbm[df_IschemicHeart_hbm['measure_name'] == 'Deaths']

In [35]:
#Standardize the location names Ischemic Heart tables
country_name_mapping = {
    "Federal Republic of Nigeria": "Nigeria",
    "Federative Republic of Brazil": "Brazil",
    "Kingdom of the Netherlands": "Netherlands",
    "Republic of India": "India"
}

df_IschemicHeart['location_name'] = df_IschemicHeart['location_name'].replace(country_name_mapping)
df_IschemicHeart_hbm['location_name'] = df_IschemicHeart_hbm['location_name'].replace(country_name_mapping)

In [36]:
# Define 'Under 40' age bands Ischemic Heart tables
under_40 = [
    '10-14 years', '15-19 years', '20-24 years',
    '25-29 years', '30-34 years', '35-39 years'
]

# Create 'age_group' column
df_IschemicHeart['age_group'] = df_IschemicHeart['age_name'].apply(lambda x: 'Under 40' if x in under_40 else '40 and above')
df_IschemicHeart_hbm['age_group'] = df_IschemicHeart_hbm['age_name'].apply(lambda x: 'Under 40' if x in under_40 else '40 and above')

In [ ]:
#group by measure name Ischemic Heart tables
grouped_IschemicHeart = df_IschemicHeart.groupby(
    ['location_name', 'year', 'age_group', 'sex_name']
)['val'].sum().reset_index()

grouped_HischemicHeart_hbm = df_IschemicHeart_hbm.groupby(
    ['location_name', 'year', 'age_group', 'sex_name']
)['val'].sum().reset_index()

In [39]:
#merge the two Ischemic Heart datasets
df_Ischemic_merge = pd.merge(
    grouped_IschemicHeart,
    grouped_HischemicHeart_hbm,
    on=['location_name', 'year', 'age_group', 'sex_name'],
    suffixes=('_total', '_hbm')
)

In [40]:
#create a column for the percentage of deaths due to HBM
df_Ischemic_merge['percent_hbm'] = (
    df_Ischemic_merge['val_hbm'] / df_Ischemic_merge['val_total']
) * 100

In [41]:
# Format the 'val_total' and 'val_hbm' columns with dot as thousands separator
df_Ischemic_merge['val_total_formatted'] = df_Ischemic_merge['val_total'].apply(lambda x: f"{int(round(x)):,}".replace(",", "."))
df_Ischemic_merge['val_hbm_formatted'] = df_Ischemic_merge['val_hbm'].apply(lambda x: f"{int(round(x)):,}".replace(",", "."))

In [42]:
df_Ischemic_merge.to_csv("Ischemic_merged.csv", index=False)

In [46]:
df_Alzheimers = pd.read_csv("Alzheimer.csv")
df_Alzheimers_hbm = pd.read_csv("Alzheimer W:HBM.csv")

In [48]:
#filter to have only the number of deaths Alzheimers tables
df_Alzheimers = df_Alzheimers[df_Alzheimers['measure_name'] == 'Deaths']
df_Alzheimers_hbm = df_Alzheimers_hbm[df_Alzheimers_hbm['measure_name'] == 'Deaths']

In [50]:
#Standardize the location names Alzheimers tables
country_name_mapping = {
    "Federal Republic of Nigeria": "Nigeria",
    "Federative Republic of Brazil": "Brazil",
    "Kingdom of the Netherlands": "Netherlands",
    "Republic of India": "India"
}

df_Alzheimers.loc[:, 'location_name'] = df_Alzheimers['location_name'].replace(country_name_mapping)
df_Alzheimers_hbm.loc[:, 'location_name'] = df_Alzheimers_hbm['location_name'].replace(country_name_mapping)

In [56]:
df_Alzheimers_hbm.head(10)

,measure_id,measure_name,location_id,location_name,sex_id,sex_name,age_id,age_name,cause_id,cause_name,rei_id,metric_id,metric_name,year,val,upper,lower,age_group
0,1.0,Deaths,67.0,Japan,1.0,Male,13.0,40-44 years,543.0,Alzheimer's disease and other dementias,108.0,1.0,Number,2015.0,0.049411,0.284164,-0.001122,40 and above
1,1.0,Deaths,67.0,Japan,2.0,Female,13.0,40-44 years,543.0,Alzheimer's disease and other dementias,108.0,1.0,Number,2015.0,0.037337,0.236516,-0.002410,40 and above
2,1.0,Deaths,67.0,Japan,1.0,Male,13.0,40-44 years,543.0,Alzheimer's disease and other dementias,108.0,2.0,Percent,2015.0,0.031537,0.111620,-0.001299,40 and above
3,1.0,Deaths,67.0,Japan,2.0,Female,13.0,40-44 years,543.0,Alzheimer's disease and other dementias,108.0,2.0,Percent,2015.0,0.023808,0.089275,-0.003593,40 and above
4,1.0,Deaths,67.0,Japan,1.0,Male,13.0,40-44 years,543.0,Alzheimer's disease and other dementias,108.0,3.0,Rate,2015.0,0.000970,0.005579,-0.000022,40 and above
5,1.0,Deaths,67.0,Japan,2.0,Female,13.0,40-44 years,543.0,Alzheimer's disease and other dementias,108.0,3.0,Rate,2015.0,0.000753,0.004770,-0.000049,40 and above
6,1.0,Deaths,67.0,Japan,1.0,Male,13.0,40-44 years,543.0,Alzheimer's disease and other dementias,108.0,1.0,Number,2016.0,0.049920,0.283707,-0.001270,40 and above
7,1.0,Deaths,67.0,Japan,2.0,Female,13.0,40-44 years,543.0,Alzheimer's disease and other dementias,108.0,1.0,Number,2016.0,0.038242,0.232884,-0.002437,40 and above
8,1.0,Deaths,67.0,Japan,1.0,Male,13.0,40-44 years,543.0,Alzheimer's disease and other dementias,108.0,2.0,Percent,2016.0,0.032352,0.115210,-0.001299,40 and above
9,1.0,Deaths,67.0,Japan,2.0,Female,13.0,40-44 years,543.0,Alzheimer's disease and other dementias,108.0,2.0,Percent,2016.0,0.024990,0.093274,-0.003257,40 and above

In [57]:
df_Alzheimers.head(10)

,measure_id,measure_name,location_id,location_name,sex_id,sex_name,age_id,age_name,cause_id,cause_name,metric_id,metric_name,year,val,upper,lower,age_group
0,1.0,Deaths,214.0,Nigeria,1.0,Male,13.0,40-44 years,543.0,Alzheimer's disease and other dementias,1.0,Number,2015.0,1.352615,4.922800,0.136959,40 and above
1,1.0,Deaths,214.0,Nigeria,2.0,Female,13.0,40-44 years,543.0,Alzheimer's disease and other dementias,1.0,Number,2015.0,1.157089,4.190529,0.100987,40 and above
2,1.0,Deaths,214.0,Nigeria,1.0,Male,13.0,40-44 years,543.0,Alzheimer's disease and other dementias,2.0,Percent,2015.0,0.000060,0.000229,0.000006,40 and above
3,1.0,Deaths,214.0,Nigeria,2.0,Female,13.0,40-44 years,543.0,Alzheimer's disease and other dementias,2.0,Percent,2015.0,0.000067,0.000234,0.000006,40 and above
4,1.0,Deaths,214.0,Nigeria,1.0,Male,13.0,40-44 years,543.0,Alzheimer's disease and other dementias,3.0,Rate,2015.0,0.033088,0.120424,0.003350,40 and above
5,1.0,Deaths,214.0,Nigeria,2.0,Female,13.0,40-44 years,543.0,Alzheimer's disease and other dementias,3.0,Rate,2015.0,0.026854,0.097254,0.002344,40 and above
6,1.0,Deaths,214.0,Nigeria,1.0,Male,14.0,45-49 years,543.0,Alzheimer's disease and other dementias,1.0,Number,2015.0,10.675973,36.383858,1.425928,40 and above
7,1.0,Deaths,214.0,Nigeria,2.0,Female,14.0,45-49 years,543.0,Alzheimer's disease and other dementias,1.0,Number,2015.0,10.417046,36.715854,1.245754,40 and above
8,1.0,Deaths,214.0,Nigeria,1.0,Male,14.0,45-49 years,543.0,Alzheimer's disease and other dementias,2.0,Percent,2015.0,0.000436,0.001463,0.000057,40 and above
9,1.0,Deaths,214.0,Nigeria,2.0,Female,14.0,45-49 years,543.0,Alzheimer's disease and other dementias,2.0,Percent,2015.0,0.000544,0.001860,0.000073,40 and above

In [ ]:
# Define 'Under 40' age bands Alzheimers tables
under_40 = [
    '10-14 years', '15-19 years', '20-24 years',
    '25-29 years', '30-34 years', '35-39 years'
]

# Create 'age_group' column
df_Alzheimers['age_group'] = df_Alzheimers['age_name'].apply(lambda x: 'Under 40' if x in under_40 else '40 and above')
df_Alzheimers_hbm['age_group'] = df_Alzheimers_hbm['age_name'].apply(lambda x: 'Under 40' if x in under_40 else '40 and above')

In [59]:
print(df_Alzheimers['age_group'].unique())
print(df_Alzheimers_hbm['age_group'].unique())

['40 and above']
['40 and above']

In [60]:
#group by measure name Alzheimerst tables
grouped_Alzheimers = df_Alzheimers.groupby(
    ['location_name', 'year', 'age_group', 'sex_name']
)['val'].sum().reset_index()

grouped_Alzheimers_hbm = df_Alzheimers_hbm.groupby(
    ['location_name', 'year', 'age_group', 'sex_name']
)['val'].sum().reset_index()

In [61]:
#merge the two Alzheimers datasets
df_Alzheimers_merge = pd.merge(
    grouped_Alzheimers,
    grouped_Alzheimers_hbm,
    on=['location_name', 'year', 'age_group', 'sex_name'],
    suffixes=('_total', '_hbm')
)

In [62]:
#create a column for the percentage of deaths due to HBM
df_Alzheimers_merge['percent_hbm'] = (
    df_Alzheimers_merge['val_hbm'] / df_Alzheimers_merge['val_total']
) * 100

# Format the 'val_total' and 'val_hbm' columns with dot as thousands separator
df_Alzheimers_merge['val_total_formatted'] = df_Alzheimers_merge['val_total'].apply(lambda x: f"{int(round(x)):,}".replace(",", "."))
df_Alzheimers_merge['val_hbm_formatted'] = df_Alzheimers_merge['val_hbm'].apply(lambda x: f"{int(round(x)):,}".replace(",", "."))

In [63]:
df_Alzheimers_merge.to_csv("Alzheimers_merged.csv", index=False)

In [4]:
import pandas as pd

# Load merged dataset  for Ischemic Heart
df = pd.read_csv("Ischemic_merged.csv")

# Get the 2015 baseline per location + age + sex
baseline_2015 = df[df['year'] == 2015][['location_name', 'age_group', 'sex_name', 'percent_hbm']]
baseline_2015 = baseline_2015.rename(columns={'percent_hbm': 'percent_hbm_2015'})

# Merge back into the main dataframe
df = df.merge(baseline_2015, on=['location_name', 'age_group', 'sex_name'], how='left')

# Calculate percent change
df['percent_change_from_2015'] = ((df['percent_hbm'] - df['percent_hbm_2015']) / df['percent_hbm_2015']) * 100

# Overwrite the original file
df.to_csv("Ischemic_merged.csv", index=False)

In [7]:
df.head(10)

,location_name,year,age_group,sex_name,val_total,val_hbm,percent_hbm,val_total_formatted,val_hbm_formatted,percent_hbm_2015,percent_change_from_2015
0,Brazil,2015,40 and above,Female,108652.891266,18256.855143,16.802917,108.653,18.257,16.802917,0.000000
1,Brazil,2015,40 and above,Male,172207.149097,28061.476027,16.295186,172.207,28.061,16.295186,0.000000
2,Brazil,2015,Under 40,Female,834.459860,208.465500,24.982088,834,208,24.982088,0.000000
3,Brazil,2015,Under 40,Male,2086.435935,501.419715,24.032356,2.086,501,24.032356,0.000000
4,Brazil,2016,40 and above,Female,112589.394803,19117.745284,16.980059,112.589,19.118,16.802917,1.054232
5,Brazil,2016,40 and above,Male,180394.445082,29717.205038,16.473459,180.394,29.717,16.295186,1.094020
6,Brazil,2016,Under 40,Female,849.426527,214.264074,25.224556,849,214,24.982088,0.970568
7,Brazil,2016,Under 40,Male,2132.978628,518.757556,24.320804,2.133,519,24.032356,1.200249
8,Brazil,2017,40 and above,Female,111153.012274,19013.991470,17.106141,111.153,19.014,16.802917,1.804594
9,Brazil,2017,40 and above,Male,178972.556041,29775.747950,16.637047,178.973,29.776,16.295186,2.097922

In [8]:
import pandas as pd

In [11]:
df_alzheimers_merge = pd.read_csv("Alzheimers_merged.csv")

In [12]:
df_alzheimers_merge.head(10)

,location_name,year,age_group,sex_name,val_total,val_hbm,percent_hbm,val_total_formatted,val_hbm_formatted
0,Brazil,2015.0,40 and above,Female,42867.058905,4474.098695,10.437149,42.867,4.474
1,Brazil,2015.0,40 and above,Male,23705.034573,2066.636495,8.718133,23.705,2.067
2,Brazil,2016.0,40 and above,Female,44782.839527,4724.616307,10.550060,44.783,4.725
3,Brazil,2016.0,40 and above,Male,24637.985481,2193.044983,8.901073,24.638,2.193
4,Brazil,2017.0,40 and above,Female,46479.481327,4957.392039,10.665765,46.479,4.957
5,Brazil,2017.0,40 and above,Male,25479.538939,2314.199873,9.082581,25.480,2.314
6,Brazil,2018.0,40 and above,Female,48348.151138,5215.247709,10.786861,48.348,5.215
7,Brazil,2018.0,40 and above,Male,26442.405659,2449.673946,9.264187,26.442,2.450
8,Brazil,2019.0,40 and above,Female,50437.148203,5493.507420,10.891788,50.437,5.494
9,Brazil,2019.0,40 and above,Male,27502.628920,2594.742349,9.434525,27.503,2.595

In [17]:
# Get the 2015 baseline per location + age + sex
baseline_2015 = df_alzheimers_merge[df_alzheimers_merge['year'] == 2015][['location_name', 'age_group', 'sex_name', 'percent_hbm']]
baseline_2015 = baseline_2015.rename(columns={'percent_hbm': 'percent_hbm_2015'})

# Merge back into the main dataframe
df_alzheimers_merge = df_alzheimers_merge.merge(baseline_2015, on=['location_name', 'age_group', 'sex_name'], how='left')

# Calculate percent change
df_alzheimers_merge['percent_change_from_2015'] = (
    (df_alzheimers_merge['percent_hbm'] - df_alzheimers_merge['percent_hbm_2015']) / df_alzheimers_merge['percent_hbm_2015']
) * 100

# Overwrite the original file
df_alzheimers_merge.to_csv("Alzheimers_merged.csv", index=False)

In [15]:
df.to_csv("Ischemic_merged.csv", index=False)

In [18]:
df_alzheimers_merge.head(10)

,location_name,year,age_group,sex_name,val_total,val_hbm,percent_hbm,val_total_formatted,val_hbm_formatted,percent_hbm_2015_x,percent_change_from_2015,percent_hbm_2015_y,percent_hbm_2015
0,Brazil,2015.0,40 and above,Female,42867.058905,4474.098695,10.437149,42.867,4.474,10.437149,0.000000,10.437149,10.437149
1,Brazil,2015.0,40 and above,Male,23705.034573,2066.636495,8.718133,23.705,2.067,8.718133,0.000000,8.718133,8.718133
2,Brazil,2016.0,40 and above,Female,44782.839527,4724.616307,10.550060,44.783,4.725,10.437149,1.081818,10.437149,10.437149
3,Brazil,2016.0,40 and above,Male,24637.985481,2193.044983,8.901073,24.638,2.193,8.718133,2.098378,8.718133,8.718133
4,Brazil,2017.0,40 and above,Female,46479.481327,4957.392039,10.665765,46.479,4.957,10.437149,2.190405,10.437149,10.437149
5,Brazil,2017.0,40 and above,Male,25479.538939,2314.199873,9.082581,25.480,2.314,8.718133,4.180347,8.718133,8.718133
6,Brazil,2018.0,40 and above,Female,48348.151138,5215.247709,10.786861,48.348,5.215,10.437149,3.350646,10.437149,10.437149
7,Brazil,2018.0,40 and above,Male,26442.405659,2449.673946,9.264187,26.442,2.450,8.718133,6.263427,8.718133,8.718133
8,Brazil,2019.0,40 and above,Female,50437.148203,5493.507420,10.891788,50.437,5.494,10.437149,4.355975,10.437149,10.437149
9,Brazil,2019.0,40 and above,Male,27502.628920,2594.742349,9.434525,27.503,2.595,8.718133,8.217259,8.718133,8.718133

In [19]:
# Keep only the clean version of columns
df_alzheimers_merge = df_alzheimers_merge[[
    'location_name', 'year', 'age_group', 'sex_name',
    'val_total', 'val_hbm', 'percent_hbm',
    'percent_change_from_2015'
]]

# Overwrite cleaned dataset
df_alzheimers_merge.to_csv("Alzheimers_merged.csv", index=False)

In [20]:
df_alzheimers_merge.head(10)

,location_name,year,age_group,sex_name,val_total,val_hbm,percent_hbm,percent_change_from_2015
0,Brazil,2015.0,40 and above,Female,42867.058905,4474.098695,10.437149,0.000000
1,Brazil,2015.0,40 and above,Male,23705.034573,2066.636495,8.718133,0.000000
2,Brazil,2016.0,40 and above,Female,44782.839527,4724.616307,10.550060,1.081818
3,Brazil,2016.0,40 and above,Male,24637.985481,2193.044983,8.901073,2.098378
4,Brazil,2017.0,40 and above,Female,46479.481327,4957.392039,10.665765,2.190405
5,Brazil,2017.0,40 and above,Male,25479.538939,2314.199873,9.082581,4.180347
6,Brazil,2018.0,40 and above,Female,48348.151138,5215.247709,10.786861,3.350646
7,Brazil,2018.0,40 and above,Male,26442.405659,2449.673946,9.264187,6.263427
8,Brazil,2019.0,40 and above,Female,50437.148203,5493.507420,10.891788,4.355975
9,Brazil,2019.0,40 and above,Male,27502.628920,2594.742349,9.434525,8.217259

In [21]:
df_stroke_merged = pd.read_csv("stroke_merged_clean.csv")

In [22]:
# Get the 2015 baseline per location + age + sex
baseline_2015 = df_stroke_merged[df_stroke_merged['year'] == 2015][[
    'location_name', 'age_group', 'sex_name', 'percent_hbm'
]]
baseline_2015 = baseline_2015.rename(columns={'percent_hbm': 'percent_hbm_2015'})

# Merge back into the main dataframe
df_stroke_merged = df_stroke_merged.merge(
    baseline_2015, on=['location_name', 'age_group', 'sex_name'], how='left'
)

# Calculate percent change
df_stroke_merged['percent_change_from_2015'] = (
    (df_stroke_merged['percent_hbm'] - df_stroke_merged['percent_hbm_2015']) /
    df_stroke_merged['percent_hbm_2015']
) * 100

# Overwrite the original file
df_stroke_merged.to_csv("stroke_merged_clean.csv", index=False)

In [23]:
df_stroke_merged.head(10)

,location_name,year,age_group,sex_name,val_total,val_hbm,percent_hbm,val_total_formatted,val_hbm_formatted,percent_hbm_2015,percent_change_from_2015
0,Brazil,2015,40 and above,Female,48672.404786,665.946170,1.368221,48.672,666.0,1.368221,0.000000
1,Brazil,2015,40 and above,Male,60645.349362,350.289054,0.577602,60.645,350.0,0.577602,0.000000
2,Brazil,2015,Under 40,Female,293.026895,20.297085,6.926697,293,20.0,6.926697,0.000000
3,Brazil,2015,Under 40,Male,419.214196,12.182413,2.906012,419,12.0,2.906012,0.000000
4,Brazil,2016,40 and above,Female,50735.302363,689.035054,1.358098,50.735,689.0,1.368221,-0.739892
5,Brazil,2016,40 and above,Male,63164.810811,362.060745,0.573200,63.165,362.0,0.577602,-0.762189
6,Brazil,2016,Under 40,Female,298.346449,20.464361,6.859261,298,20.0,6.926697,-0.973568
7,Brazil,2016,Under 40,Male,426.594437,13.915662,3.262035,427,14.0,2.906012,12.251292
8,Brazil,2017,40 and above,Female,51634.790425,727.245025,1.408440,51.635,727.0,1.368221,2.939492
9,Brazil,2017,40 and above,Male,62586.649669,386.335286,0.617281,62.587,386.0,0.577602,6.869459

In [24]:
# Keep only the clean version of columns
df_stroke_merged = df_stroke_merged[[
    'location_name', 'year', 'age_group', 'sex_name',
    'val_total', 'val_hbm', 'percent_hbm',
    'percent_change_from_2015'
]]

# Overwrite cleaned dataset
df_stroke_merged.to_csv("stroke_merged_clean.csv", index=False)

In [25]:
df_stroke_merged.head(10)

,location_name,year,age_group,sex_name,val_total,val_hbm,percent_hbm,percent_change_from_2015
0,Brazil,2015,40 and above,Female,48672.404786,665.946170,1.368221,0.000000
1,Brazil,2015,40 and above,Male,60645.349362,350.289054,0.577602,0.000000
2,Brazil,2015,Under 40,Female,293.026895,20.297085,6.926697,0.000000
3,Brazil,2015,Under 40,Male,419.214196,12.182413,2.906012,0.000000
4,Brazil,2016,40 and above,Female,50735.302363,689.035054,1.358098,-0.739892
5,Brazil,2016,40 and above,Male,63164.810811,362.060745,0.573200,-0.762189
6,Brazil,2016,Under 40,Female,298.346449,20.464361,6.859261,-0.973568
7,Brazil,2016,Under 40,Male,426.594437,13.915662,3.262035,12.251292
8,Brazil,2017,40 and above,Female,51634.790425,727.245025,1.408440,2.939492
9,Brazil,2017,40 and above,Male,62586.649669,386.335286,0.617281,6.869459

In [26]:
df_diabetes_merged = pd.read_csv("diabetes_merged.csv")

In [27]:
# Get the 2015 baseline per location + age + sex
baseline_2015 = df_diabetes_merged[df_diabetes_merged['year'] == 2015][[
    'location_name', 'age_group', 'sex_name', 'percent_hbm'
]]
baseline_2015 = baseline_2015.rename(columns={'percent_hbm': 'percent_hbm_2015'})

# Merge back into the main dataframe
df_diabetes_merged = df_diabetes_merged.merge(
    baseline_2015, on=['location_name', 'age_group', 'sex_name'], how='left'
)

# Calculate percent change
df_diabetes_merged['percent_change_from_2015'] = (
    (df_diabetes_merged['percent_hbm'] - df_diabetes_merged['percent_hbm_2015']) /
    df_diabetes_merged['percent_hbm_2015']
) * 100

# Save the cleaned file
df_diabetes_merged.to_csv("diabetes_merged.csv", index=False)

In [28]:
# Keep only the clean version of columns
df_diabetes_merged = df_diabetes_merged[[
    'location_name', 'year', 'age_group', 'sex_name',
    'val_total', 'val_hbm', 'percent_hbm',
    'percent_change_from_2015'
]]

# Overwrite cleaned dataset
df_diabetes_merged.to_csv("diabetes_merged.csv", index=False)

In [29]:
df_diabetes_merged.head(10)

,location_name,year,age_group,sex_name,val_total,val_hbm,percent_hbm,percent_change_from_2015
0,Brazil,2015,40 and above,Female,54774.694177,31143.518712,56.857494,0.000000
1,Brazil,2015,40 and above,Male,50206.987684,28092.439192,55.953246,0.000000
2,Brazil,2015,Under 40,Female,386.273654,204.956643,53.059959,0.000000
3,Brazil,2015,Under 40,Male,466.623529,233.513691,50.043274,0.000000
4,Brazil,2016,40 and above,Female,56398.545596,32181.270085,57.060461,0.356974
5,Brazil,2016,40 and above,Male,52827.909303,29721.295765,56.260594,0.549295
6,Brazil,2016,Under 40,Female,405.030266,212.846729,52.550821,-0.959553
7,Brazil,2016,Under 40,Male,496.811503,247.074334,49.732008,-0.621994
8,Brazil,2017,40 and above,Female,56652.054605,32438.821429,57.259744,0.707470
9,Brazil,2017,40 and above,Male,54585.914370,30829.510071,56.478874,0.939407

In [30]:
df_chronic_merged = pd.read_csv("chronic_merged_clean.csv")

In [31]:
# Get the 2015 baseline per location + age + sex
baseline_2015 = df_chronic_merged[df_chronic_merged['year'] == 2015][[
    'location_name', 'age_group', 'sex_name', 'percent_hbm'
]]
baseline_2015 = baseline_2015.rename(columns={'percent_hbm': 'percent_hbm_2015'})

# Merge back into the main dataframe
df_chronic_merged = df_chronic_merged.merge(
    baseline_2015, on=['location_name', 'age_group', 'sex_name'], how='left'
)

# Calculate percent change
df_chronic_merged['percent_change_from_2015'] = (
    (df_chronic_merged['percent_hbm'] - df_chronic_merged['percent_hbm_2015']) /
    df_chronic_merged['percent_hbm_2015']
) * 100

# Save the cleaned file
df_chronic_merged.to_csv("chronic_merged_clean.csv", index=False)

In [32]:
# Keep only the clean version of columns
df_chronic_merged = df_chronic_merged[[
    'location_name', 'year', 'age_group', 'sex_name',
    'val_total', 'val_hbm', 'percent_hbm',
    'percent_change_from_2015'
]]

# Overwrite cleaned dataset
df_chronic_merged.to_csv("chronic_merged_clean.csv", index=False)

In [33]:
df_chronic_merged.head(10)

,location_name,year,age_group,sex_name,val_total,val_hbm,percent_hbm,percent_change_from_2015
0,Brazil,2015,40 and above,Female,48672.404786,665.946170,1.368221,0.000000
1,Brazil,2015,40 and above,Male,60645.349362,350.289054,0.577602,0.000000
2,Brazil,2015,Under 40,Female,293.026895,20.297085,6.926697,0.000000
3,Brazil,2015,Under 40,Male,419.214196,12.182413,2.906012,0.000000
4,Brazil,2016,40 and above,Female,50735.302363,689.035054,1.358098,-0.739892
5,Brazil,2016,40 and above,Male,63164.810811,362.060745,0.573200,-0.762189
6,Brazil,2016,Under 40,Female,298.346449,20.464361,6.859261,-0.973568
7,Brazil,2016,Under 40,Male,426.594437,13.915662,3.262035,12.251292
8,Brazil,2017,40 and above,Female,51634.790425,727.245025,1.408440,2.939492
9,Brazil,2017,40 and above,Male,62586.649669,386.335286,0.617281,6.869459

In [34]:
# Load each file and tag with disease name
ischemic = pd.read_csv("Ischemic_merged.csv")
ischemic["disease"] = "Ischemic Heart Disease"

stroke = pd.read_csv("stroke_merged_clean.csv")
stroke["disease"] = "Stroke"

alz = pd.read_csv("Alzheimers_merged.csv")
alz["disease"] = "Alzheimer's"

diabetes = pd.read_csv("diabetes_merged.csv")
diabetes["disease"] = "Diabetes"

chronic = pd.read_csv("chronic_merged_clean.csv")
chronic["disease"] = "Chronic Respiratory Disease"

# Combine all into one DataFrame
df_all_diseases = pd.concat([ischemic, stroke, alz, diabetes, chronic], ignore_index=True)

# Save combined file
df_all_diseases.to_csv("all_diseases_merged.csv", index=False)

In [35]:
import pandas as pd

In [36]:
df_Ischemic = pd.read_csv("Ischemic_merged.csv")

In [37]:
df_Ischemic.head(10)

,location_name,year,age_group,sex_name,val_total,val_hbm,percent_hbm,val_total_formatted,val_hbm_formatted,percent_hbm_2015,percent_change_from_2015
0,Brazil,2015,40 and above,Female,108652.891266,18256.855143,16.802917,108.653,18.257,16.802917,0.000000
1,Brazil,2015,40 and above,Male,172207.149097,28061.476027,16.295186,172.207,28.061,16.295186,0.000000
2,Brazil,2015,Under 40,Female,834.459860,208.465500,24.982088,834,208,24.982088,0.000000
3,Brazil,2015,Under 40,Male,2086.435935,501.419715,24.032356,2.086,501,24.032356,0.000000
4,Brazil,2016,40 and above,Female,112589.394803,19117.745284,16.980059,112.589,19.118,16.802917,1.054232
5,Brazil,2016,40 and above,Male,180394.445082,29717.205038,16.473459,180.394,29.717,16.295186,1.094020
6,Brazil,2016,Under 40,Female,849.426527,214.264074,25.224556,849,214,24.982088,0.970568
7,Brazil,2016,Under 40,Male,2132.978628,518.757556,24.320804,2.133,519,24.032356,1.200249
8,Brazil,2017,40 and above,Female,111153.012274,19013.991470,17.106141,111.153,19.014,16.802917,1.804594
9,Brazil,2017,40 and above,Male,178972.556041,29775.747950,16.637047,178.973,29.776,16.295186,2.097922

In [40]:
# Drop any unnecessary or duplicate columns
# Keep only the essential ones
df_Ischemic = df_Ischemic[[
    'location_name', 'year', 'age_group', 'sex_name',
    'val_total', 'val_hbm', 'percent_hbm',
    'percent_hbm_2015', 'percent_change_from_2015'
]]

# Save the cleaned version
df_Ischemic.to_csv("Ischemic_merged.csv", index=False)

In [41]:
# Load each file and tag with disease name
ischemic = pd.read_csv("Ischemic_merged.csv")
ischemic["disease"] = "Ischemic Heart Disease"

stroke = pd.read_csv("stroke_merged.csv")
stroke["disease"] = "Stroke"

alz = pd.read_csv("Alzheimers_merged.csv")
alz["disease"] = "Alzheimer's"

diabetes = pd.read_csv("diabetes_merged.csv")
diabetes["disease"] = "Diabetes"

chronic = pd.read_csv("Respiratory_merged.csv")
chronic["disease"] = "Chronic Respiratory Disease"

# Combine all into one DataFrame
df_all_diseases = pd.concat([ischemic, stroke, alz, diabetes, chronic], ignore_index=True)

# Save combined file
df_all_diseases.to_csv("all_diseases_merged.csv", index=False)

In [42]:

# Load the merged file
df_all = pd.read_csv("all_diseases_merged.csv")

# Calculate percent_hbm where possible
df_all["percent_hbm"] = (df_all["val_hbm"] / df_all["val_total"]) * 100

# Save it back
df_all.to_csv("all_diseases_merged.csv", index=False)

In [43]:
df_all.head(200)

,location_name,year,age_group,sex_name,val_total,val_hbm,percent_hbm,percent_hbm_2015,percent_change_from_2015,disease
0,Brazil,2015.0,40 and above,Female,108652.891266,18256.855143,16.802917,16.802917,0.000000,Ischemic Heart Disease
1,Brazil,2015.0,40 and above,Male,172207.149097,28061.476027,16.295186,16.295186,0.000000,Ischemic Heart Disease
2,Brazil,2015.0,Under 40,Female,834.459860,208.465500,24.982088,24.982088,0.000000,Ischemic Heart Disease
3,Brazil,2015.0,Under 40,Male,2086.435935,501.419715,24.032356,24.032356,0.000000,Ischemic Heart Disease
4,Brazil,2016.0,40 and above,Female,112589.394803,19117.745284,16.980059,16.802917,1.054232,Ischemic Heart Disease
...,...,...,...,...,...,...,...,...,...,...
195,United States of America,2021.0,Under 40,Male,1939.620683,638.155527,32.901048,32.361271,1.667971,Ischemic Heart Disease
196,Brazil,2015.0,40 and above,Female,48672.404786,665.946170,1.368221,NaN,0.000000,Stroke
197,Brazil,2015.0,40 and above,Male,60645.349362,350.289054,0.577602,NaN,0.000000,Stroke
198,Brazil,2015.0,Under 40,Female,293.026895,20.297085,6.926697,NaN,0.000000,Stroke
199,Brazil,2015.0,Under 40,Male,419.214196,12.182413,2.906012,NaN,0.000000,Stroke

In [63]:
# Load original datasets (unmodified)
df_stroke = pd.read_csv("Stroke.csv")
df_stroke_hbm = pd.read_csv("Stroke_hbm.csv")

In [70]:
import pandas as pd

# Load your two CSV files
stroke_df = pd.read_csv("Stroke.csv")
stroke_hbm_df = pd.read_csv("Stroke_hbm.csv")

# Filter to only include rows where measure is 'Deaths'
stroke_df_deaths = stroke_df[stroke_df['measure_name'] == 'Deaths'].copy()
stroke_hbm_df_deaths = stroke_hbm_df[stroke_hbm_df['measure_name'] == 'Deaths'].copy()

# Create a function to classify age into groups
def age_group(age_name):
    under_40_keywords = ['10', '15', '20', '25', '30', '35']
    for keyword in under_40_keywords:
        if keyword in age_name:
            return 'Under 40'
    return '40 and above'

# Apply the age group
stroke_df_deaths['age_group'] = stroke_df_deaths['age_name'].apply(age_group)
stroke_hbm_df_deaths['age_group'] = stroke_hbm_df_deaths['age_name'].apply(age_group)

# Group and aggregate total stroke deaths
stroke_total_grouped = (
    stroke_df_deaths
    .groupby(['location_name', 'year', 'age_group', 'sex_name'])['val']
    .sum()
    .reset_index()
    .rename(columns={'val': 'val_total'})
)

# Group and aggregate high BMI stroke deaths
stroke_hbm_grouped = (
    stroke_hbm_df_deaths
    .groupby(['location_name', 'year', 'age_group', 'sex_name'])['val']
    .sum()
    .reset_index()
    .rename(columns={'val': 'val_hbm'})
)

# Merge the two grouped datasets
merged = pd.merge(
    stroke_total_grouped,
    stroke_hbm_grouped,
    on=['location_name', 'year', 'age_group', 'sex_name'],
    how='left'
)

# Calculate percent_hbm
merged['percent_hbm'] = (merged['val_hbm'] / merged['val_total']) * 100

# Calculate percent_change_from_2015
def calc_percent_change(group):
    base_val = group[group['year'] == 2015]['val_total']
    if not base_val.empty:
        group['percent_change_from_2015'] = ((group['val_total'] - base_val.values[0]) / base_val.values[0]) * 100
    else:
        group['percent_change_from_2015'] = pd.NA
    return group

merged = merged.groupby(['location_name', 'age_group', 'sex_name'], group_keys=False).apply(calc_percent_change)

# Optional: Save to CSV
merged.to_csv("stroke_merged_output.csv", index=False)

/var/folders/xb/rzlp256d1yv_tzq65s6kvnh40000gn/T/ipykernel_71172/3352361933.py:61: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  merged = merged.groupby(['location_name', 'age_group', 'sex_name'], group_keys=False).apply(calc_percent_change)

In [71]:
# Dictionary of name replacements
country_name_map = {
    "Federal Republic of Nigeria": "Nigeria",
    "Federative Republic of Brazil": "Brazil",
    "Kingdom of the Netherlands": "Netherlands",
    "Republic of India": "India"
}

# Replace the names
merged['location_name'] = merged['location_name'].replace(country_name_map)

# Optional: Save the updated version
merged.to_csv("stroke_merged_output.csv", index=False)

In [ ]:
# Load each disease-specific merged file
alzheimers = pd.read_csv("Alzheimers_merged.csv")
diabetes = pd.read_csv("diabetes_merged.csv")
ischemic = pd.read_csv("Ischemic_merged.csv")
respiratory = pd.read_csv("Respiratory_merged.csv")
stroke = pd.read_csv("stroke_merged_output.csv")

# Add a 'disease' column to each DataFrame
alzheimers['disease'] = 'Alzheimers'
diabetes['disease'] = 'Diabetes'
ischemic['disease'] = 'Ischemic Heart Disease'
respiratory['disease'] = 'Chronic Respiratory Disease'
stroke['disease'] = 'Stroke'

# Combine all the datasets
all_diseases_df = pd.concat([alzheimers, diabetes, ischemic, respiratory, stroke], ignore_index=True)

#save to CSV
all_diseases_df.to_csv("all_diseases_merged.csv", index=False)

In [76]:
import pandas as pd

# Load the CSV directly into the correct variable
all_diseases_df = pd.read_csv("all_diseases_merged.csv")

# drop the column (if it exists)
all_diseases_df = all_diseases_df.drop(columns=['percent_hbm_2015'], errors='ignore')