In [1]:
import pandas as pd

In [2]:
# Load original datasets (unmodified)
df_ChronicRD = pd.read_csv("Chronic respiratory .csv")
df_ChronicRD_hbm = pd.read_csv("Chronic respiratory desease W:HBM.csv")

In [3]:
#filter to have only the number of deaths
df_ChronicRD = df_ChronicRD[df_ChronicRD['measure_name'] == 'Deaths']
df_ChronicRD_hbm = df_ChronicRD_hbm[df_ChronicRD_hbm['measure_name'] == 'Deaths']

In [ ]:
#Standardize the location names
country_name_mapping = {
    "Federal Republic of Nigeria": "Nigeria",
    "Federative Republic of Brazil": "Brazil",
    "Kingdom of the Netherlands": "Netherlands",
    "Republic of India": "India"
}

df_ChronicRD['location_name'] = df_ChronicRD['location_name'].replace(country_name_mapping)

In [5]:
# Define 'Under 40' age bands
under_40 = [
    '10-14 years', '15-19 years', '20-24 years',
    '25-29 years', '30-34 years', '35-39 years'
]

# Create 'age_group' column
df_ChronicRD['age_group'] = df_ChronicRD['age_name'].apply(lambda x: 'Under 40' if x in under_40 else '40 and above')
df_ChronicRD_hbm['age_group'] = df_ChronicRD_hbm['age_name'].apply(lambda x: 'Under 40' if x in under_40 else '40 and above')

In [ ]:
#group by measure name
grouped_ChronicRD = df_ChronicRD.groupby(
    ['location_name', 'year', 'age_group', 'sex_name']
)['val'].sum().reset_index()

grouped_ChronicRD_hbm = df_ChronicRD_hbm.groupby(
    ['location_name', 'year', 'age_group', 'sex_name']
)['val'].sum().reset_index()

In [ ]:
#merge the two datasets
df_chronic_merged = pd.merge(
    grouped_ChronicRD,
    grouped_ChronicRD_hbm,
    on=['location_name', 'year', 'age_group', 'sex_name'],
    suffixes=('_total', '_hbm')
)

In [8]:
#create a column for the percentage of deaths due to HBM
df_chronic_merged['percent_hbm'] = (
    df_chronic_merged['val_hbm'] / df_chronic_merged['val_total']
) * 100

In [9]:
df_chronic_merged.head(80)

,location_name,year,age_group,sex_name,val_total,val_hbm,percent_hbm
0,Brazil,2015,40 and above,Female,4.867240e+04,665.946170,1.368221
1,Brazil,2015,40 and above,Male,6.064535e+04,350.289054,0.577602
2,Brazil,2015,Under 40,Female,2.930269e+02,20.297085,6.926697
3,Brazil,2015,Under 40,Male,4.192142e+02,12.182413,2.906012
4,Brazil,2016,40 and above,Female,5.073530e+04,689.035054,1.358098
...,...,...,...,...,...,...,...
75,India,2019,Under 40,Male,5.045460e+03,219.050302,4.341533
76,India,2020,40 and above,Female,1.115357e+06,26441.297362,2.370658
77,India,2020,40 and above,Male,1.320126e+06,16772.840041,1.270548
78,India,2020,Under 40,Female,4.568300e+03,278.113844,6.087907
79,India,2020,Under 40,Male,4.969997e+03,216.814239,4.362462

In [10]:
# Create formatted versions of total and HBM death columns
df_chronic_merged['val_total_formatted'] = df_chronic_merged['val_total'].apply(lambda x: f"{int(round(x)):,}")
df_chronic_merged['val_hbm_formatted'] = df_chronic_merged['val_hbm'].apply(lambda x: f"{int(round(x)):,}")

In [11]:
df_chronic_merged.to_csv("chronic_merged_clean.csv", index=False)

In [12]:
# Load original Stroke datasets (unmodified)
df_stroke = pd.read_csv("Chronic respiratory .csv")
df_stroke_hbm = pd.read_csv("Chronic respiratory desease W:HBM.csv")

In [13]:
#filter to have only the number of deaths
df_stroke = df_stroke[df_stroke['measure_name'] == 'Deaths']
df_stroke_hbm = df_stroke_hbm[df_stroke_hbm['measure_name'] == 'Deaths']

In [14]:
#Standardize the location names
country_name_mapping = {
    "Federal Republic of Nigeria": "Nigeria",
    "Federative Republic of Brazil": "Brazil",
    "Kingdom of the Netherlands": "Netherlands",
    "Republic of India": "India"
}

df_stroke['location_name'] = df_stroke['location_name'].replace(country_name_mapping)
df_stroke_hbm['location_name'] = df_stroke_hbm['location_name'].replace(country_name_mapping)

In [15]:
# Define 'Under 40' age bands
under_40 = [
    '10-14 years', '15-19 years', '20-24 years',
    '25-29 years', '30-34 years', '35-39 years'
]

# Create 'age_group' column
df_stroke['age_group'] = df_stroke['age_name'].apply(lambda x: 'Under 40' if x in under_40 else '40 and above')
df_stroke_hbm['age_group'] = df_stroke_hbm['age_name'].apply(lambda x: 'Under 40' if x in under_40 else '40 and above')

In [16]:
#group by measure name
grouped_stroke = df_stroke.groupby(
    ['location_name', 'year', 'age_group', 'sex_name']
)['val'].sum().reset_index()

grouped_stroke_hbm = df_stroke_hbm.groupby(
    ['location_name', 'year', 'age_group', 'sex_name']
)['val'].sum().reset_index()

In [17]:
#merge the two datasets
df_stroke_merged = pd.merge(
    grouped_stroke,
    grouped_stroke_hbm,
    on=['location_name', 'year', 'age_group', 'sex_name'],
    suffixes=('_total', '_hbm')
)

In [18]:
#create a column for the percentage of deaths due to HBM
df_stroke_merged['percent_hbm'] = (
    df_stroke_merged['val_hbm'] / df_stroke_merged['val_total']
) * 100

In [19]:
df_chronic_merged['val_total_formatted'] = df_chronic_merged['val_total'].apply(lambda x: f"{int(round(x)):,}".replace(",", "."))
df_chronic_merged['val_hbm_formatted'] = df_chronic_merged['val_hbm'].apply(lambda x: f"{int(round(x)):,}".replace(",", "."))

df_stroke_merged['val_total_formatted'] = df_stroke_merged['val_total'].apply(lambda x: f"{int(round(x)):,}".replace(",", "."))
df_stroke_merged['val_hbm_formatted'] = df_stroke_merged['val_hbm'].apply(lambda x: f"{int(round(x)):,}".replace(",", "."))

In [20]:
df_chronic_merged.to_csv("chronic_merged_clean.csv", index=False)
df_stroke_merged.to_csv("stroke_merged_clean.csv", index=False)

In [21]:
df_chronic_merged.to_csv("chronic_merged_clean.csv", index=False)

In [ ]:
# Load original datasets (unmodified) for diabetes
df_diabetes = pd.read_csv("Diabetes.csv")
df_diabetes_hbm = pd.read_csv("Diabetes hbm.csv")

In [ ]:
#filter to have only the number of deaths diabetes tables
df_diabetes = df_diabetes[df_diabetes['measure_name'] == 'Deaths']
df_diabetes_hbm = df_diabetes_hbm[df_diabetes_hbm['measure_name'] == 'Deaths']

In [ ]:
#Standardize the location names diabetes tables
country_name_mapping = {
    "Federal Republic of Nigeria": "Nigeria",
    "Federative Republic of Brazil": "Brazil",
    "Kingdom of the Netherlands": "Netherlands",
    "Republic of India": "India"
}

df_diabetes['location_name'] = df_diabetes['location_name'].replace(country_name_mapping)
df_diabetes_hbm['location_name'] = df_diabetes_hbm['location_name'].replace(country_name_mapping)

In [ ]:
# Define 'Under 40' age bands diabetes tables
under_40 = [
    '10-14 years', '15-19 years', '20-24 years',
    '25-29 years', '30-34 years', '35-39 years'
]

# Create 'age_group' column
df_diabetes['age_group'] = df_diabetes['age_name'].apply(lambda x: 'Under 40' if x in under_40 else '40 and above')
df_diabetes_hbm['age_group'] = df_diabetes_hbm['age_name'].apply(lambda x: 'Under 40' if x in under_40 else '40 and above')

In [28]:
#group by measure name diabetes tables
grouped_diabetes = df_diabetes.groupby(
    ['location_name', 'year', 'age_group', 'sex_name']
)['val'].sum().reset_index()

grouped_diabetes_hbm = df_diabetes_hbm.groupby(
    ['location_name', 'year', 'age_group', 'sex_name']
)['val'].sum().reset_index()

In [29]:
#merge the two diabetes datasets
df_diabetes_merged = pd.merge(
    grouped_diabetes,
    grouped_diabetes_hbm,
    on=['location_name', 'year', 'age_group', 'sex_name'],
    suffixes=('_total', '_hbm')
)

In [30]:
#create a column for the percentage of deaths due to HBM
df_diabetes_merged['percent_hbm'] = (
    df_diabetes_merged['val_hbm'] / df_diabetes_merged['val_total']
) * 100

In [31]:
# Format the 'val_total' and 'val_hbm' columns with dot as thousands separator
df_diabetes_merged['val_total_formatted'] = df_diabetes_merged['val_total'].apply(lambda x: f"{int(round(x)):,}".replace(",", "."))
df_diabetes_merged['val_hbm_formatted'] = df_diabetes_merged['val_hbm'].apply(lambda x: f"{int(round(x)):,}".replace(",", "."))

In [32]:
df_diabetes_merged.to_csv("diabetes_merged.csv", index=False)

In [33]:
df_IschemicHeart = pd.read_csv("Ischemic heart disease.csv")
df_IschemicHeart_hbm = pd.read_csv("Ischemic heart disease W:HBM.csv")

In [ ]:
#filter to have only the number of deaths Ischemic Heart tables
df_IschemicHeart = df_IschemicHeart[df_IschemicHeart['measure_name'] == 'Deaths']
df_IschemicHeart_hbm = df_IschemicHeart_hbm[df_IschemicHeart_hbm['measure_name'] == 'Deaths']

In [35]:
#Standardize the location names Ischemic Heart tables
country_name_mapping = {
    "Federal Republic of Nigeria": "Nigeria",
    "Federative Republic of Brazil": "Brazil",
    "Kingdom of the Netherlands": "Netherlands",
    "Republic of India": "India"
}

df_IschemicHeart['location_name'] = df_IschemicHeart['location_name'].replace(country_name_mapping)
df_IschemicHeart_hbm['location_name'] = df_IschemicHeart_hbm['location_name'].replace(country_name_mapping)

In [36]:
# Define 'Under 40' age bands Ischemic Heart tables
under_40 = [
    '10-14 years', '15-19 years', '20-24 years',
    '25-29 years', '30-34 years', '35-39 years'
]

# Create 'age_group' column
df_IschemicHeart['age_group'] = df_IschemicHeart['age_name'].apply(lambda x: 'Under 40' if x in under_40 else '40 and above')
df_IschemicHeart_hbm['age_group'] = df_IschemicHeart_hbm['age_name'].apply(lambda x: 'Under 40' if x in under_40 else '40 and above')

In [ ]:
#group by measure name Ischemic Heart tables
grouped_IschemicHeart = df_IschemicHeart.groupby(
    ['location_name', 'year', 'age_group', 'sex_name']
)['val'].sum().reset_index()

grouped_HischemicHeart_hbm = df_IschemicHeart_hbm.groupby(
    ['location_name', 'year', 'age_group', 'sex_name']
)['val'].sum().reset_index()

In [39]:
#merge the two Ischemic Heart datasets
df_Ischemic_merge = pd.merge(
    grouped_IschemicHeart,
    grouped_HischemicHeart_hbm,
    on=['location_name', 'year', 'age_group', 'sex_name'],
    suffixes=('_total', '_hbm')
)

In [40]:
#create a column for the percentage of deaths due to HBM
df_Ischemic_merge['percent_hbm'] = (
    df_Ischemic_merge['val_hbm'] / df_Ischemic_merge['val_total']
) * 100

In [41]:
# Format the 'val_total' and 'val_hbm' columns with dot as thousands separator
df_Ischemic_merge['val_total_formatted'] = df_Ischemic_merge['val_total'].apply(lambda x: f"{int(round(x)):,}".replace(",", "."))
df_Ischemic_merge['val_hbm_formatted'] = df_Ischemic_merge['val_hbm'].apply(lambda x: f"{int(round(x)):,}".replace(",", "."))

In [42]:
df_Ischemic_merge.to_csv("Ischemic_merged.csv", index=False)

In [46]:
df_Alzheimers = pd.read_csv("Alzheimer.csv")
df_Alzheimers_hbm = pd.read_csv("Alzheimer W:HBM.csv")

In [48]:
#filter to have only the number of deaths Alzheimers tables
df_Alzheimers = df_Alzheimers[df_Alzheimers['measure_name'] == 'Deaths']
df_Alzheimers_hbm = df_Alzheimers_hbm[df_Alzheimers_hbm['measure_name'] == 'Deaths']

In [50]:
#Standardize the location names Alzheimers tables
country_name_mapping = {
    "Federal Republic of Nigeria": "Nigeria",
    "Federative Republic of Brazil": "Brazil",
    "Kingdom of the Netherlands": "Netherlands",
    "Republic of India": "India"
}

df_Alzheimers.loc[:, 'location_name'] = df_Alzheimers['location_name'].replace(country_name_mapping)
df_Alzheimers_hbm.loc[:, 'location_name'] = df_Alzheimers_hbm['location_name'].replace(country_name_mapping)

In [56]:
df_Alzheimers_hbm.head(10)

,measure_id,measure_name,location_id,location_name,sex_id,sex_name,age_id,age_name,cause_id,cause_name,rei_id,metric_id,metric_name,year,val,upper,lower,age_group
0,1.0,Deaths,67.0,Japan,1.0,Male,13.0,40-44 years,543.0,Alzheimer's disease and other dementias,108.0,1.0,Number,2015.0,0.049411,0.284164,-0.001122,40 and above
1,1.0,Deaths,67.0,Japan,2.0,Female,13.0,40-44 years,543.0,Alzheimer's disease and other dementias,108.0,1.0,Number,2015.0,0.037337,0.236516,-0.002410,40 and above
2,1.0,Deaths,67.0,Japan,1.0,Male,13.0,40-44 years,543.0,Alzheimer's disease and other dementias,108.0,2.0,Percent,2015.0,0.031537,0.111620,-0.001299,40 and above
3,1.0,Deaths,67.0,Japan,2.0,Female,13.0,40-44 years,543.0,Alzheimer's disease and other dementias,108.0,2.0,Percent,2015.0,0.023808,0.089275,-0.003593,40 and above
4,1.0,Deaths,67.0,Japan,1.0,Male,13.0,40-44 years,543.0,Alzheimer's disease and other dementias,108.0,3.0,Rate,2015.0,0.000970,0.005579,-0.000022,40 and above
5,1.0,Deaths,67.0,Japan,2.0,Female,13.0,40-44 years,543.0,Alzheimer's disease and other dementias,108.0,3.0,Rate,2015.0,0.000753,0.004770,-0.000049,40 and above
6,1.0,Deaths,67.0,Japan,1.0,Male,13.0,40-44 years,543.0,Alzheimer's disease and other dementias,108.0,1.0,Number,2016.0,0.049920,0.283707,-0.001270,40 and above
7,1.0,Deaths,67.0,Japan,2.0,Female,13.0,40-44 years,543.0,Alzheimer's disease and other dementias,108.0,1.0,Number,2016.0,0.038242,0.232884,-0.002437,40 and above
8,1.0,Deaths,67.0,Japan,1.0,Male,13.0,40-44 years,543.0,Alzheimer's disease and other dementias,108.0,2.0,Percent,2016.0,0.032352,0.115210,-0.001299,40 and above
9,1.0,Deaths,67.0,Japan,2.0,Female,13.0,40-44 years,543.0,Alzheimer's disease and other dementias,108.0,2.0,Percent,2016.0,0.024990,0.093274,-0.003257,40 and above

In [57]:
df_Alzheimers.head(10)

,measure_id,measure_name,location_id,location_name,sex_id,sex_name,age_id,age_name,cause_id,cause_name,metric_id,metric_name,year,val,upper,lower,age_group
0,1.0,Deaths,214.0,Nigeria,1.0,Male,13.0,40-44 years,543.0,Alzheimer's disease and other dementias,1.0,Number,2015.0,1.352615,4.922800,0.136959,40 and above
1,1.0,Deaths,214.0,Nigeria,2.0,Female,13.0,40-44 years,543.0,Alzheimer's disease and other dementias,1.0,Number,2015.0,1.157089,4.190529,0.100987,40 and above
2,1.0,Deaths,214.0,Nigeria,1.0,Male,13.0,40-44 years,543.0,Alzheimer's disease and other dementias,2.0,Percent,2015.0,0.000060,0.000229,0.000006,40 and above
3,1.0,Deaths,214.0,Nigeria,2.0,Female,13.0,40-44 years,543.0,Alzheimer's disease and other dementias,2.0,Percent,2015.0,0.000067,0.000234,0.000006,40 and above
4,1.0,Deaths,214.0,Nigeria,1.0,Male,13.0,40-44 years,543.0,Alzheimer's disease and other dementias,3.0,Rate,2015.0,0.033088,0.120424,0.003350,40 and above
5,1.0,Deaths,214.0,Nigeria,2.0,Female,13.0,40-44 years,543.0,Alzheimer's disease and other dementias,3.0,Rate,2015.0,0.026854,0.097254,0.002344,40 and above
6,1.0,Deaths,214.0,Nigeria,1.0,Male,14.0,45-49 years,543.0,Alzheimer's disease and other dementias,1.0,Number,2015.0,10.675973,36.383858,1.425928,40 and above
7,1.0,Deaths,214.0,Nigeria,2.0,Female,14.0,45-49 years,543.0,Alzheimer's disease and other dementias,1.0,Number,2015.0,10.417046,36.715854,1.245754,40 and above
8,1.0,Deaths,214.0,Nigeria,1.0,Male,14.0,45-49 years,543.0,Alzheimer's disease and other dementias,2.0,Percent,2015.0,0.000436,0.001463,0.000057,40 and above
9,1.0,Deaths,214.0,Nigeria,2.0,Female,14.0,45-49 years,543.0,Alzheimer's disease and other dementias,2.0,Percent,2015.0,0.000544,0.001860,0.000073,40 and above

In [ ]:
# Define 'Under 40' age bands Alzheimers tables
under_40 = [
    '10-14 years', '15-19 years', '20-24 years',
    '25-29 years', '30-34 years', '35-39 years'
]

# Create 'age_group' column
df_Alzheimers['age_group'] = df_Alzheimers['age_name'].apply(lambda x: 'Under 40' if x in under_40 else '40 and above')
df_Alzheimers_hbm['age_group'] = df_Alzheimers_hbm['age_name'].apply(lambda x: 'Under 40' if x in under_40 else '40 and above')

In [59]:
print(df_Alzheimers['age_group'].unique())
print(df_Alzheimers_hbm['age_group'].unique())

['40 and above']
['40 and above']

In [60]:
#group by measure name Alzheimerst tables
grouped_Alzheimers = df_Alzheimers.groupby(
    ['location_name', 'year', 'age_group', 'sex_name']
)['val'].sum().reset_index()

grouped_Alzheimers_hbm = df_Alzheimers_hbm.groupby(
    ['location_name', 'year', 'age_group', 'sex_name']
)['val'].sum().reset_index()

In [61]:
#merge the two Alzheimers datasets
df_Alzheimers_merge = pd.merge(
    grouped_Alzheimers,
    grouped_Alzheimers_hbm,
    on=['location_name', 'year', 'age_group', 'sex_name'],
    suffixes=('_total', '_hbm')
)

In [62]:
#create a column for the percentage of deaths due to HBM
df_Alzheimers_merge['percent_hbm'] = (
    df_Alzheimers_merge['val_hbm'] / df_Alzheimers_merge['val_total']
) * 100

# Format the 'val_total' and 'val_hbm' columns with dot as thousands separator
df_Alzheimers_merge['val_total_formatted'] = df_Alzheimers_merge['val_total'].apply(lambda x: f"{int(round(x)):,}".replace(",", "."))
df_Alzheimers_merge['val_hbm_formatted'] = df_Alzheimers_merge['val_hbm'].apply(lambda x: f"{int(round(x)):,}".replace(",", "."))

In [63]:
df_Alzheimers_merge.to_csv("Alzheimers_merged.csv", index=False)

In [4]:
import pandas as pd

# Load merged dataset  for Ischemic Heart
df = pd.read_csv("Ischemic_merged.csv")

# Get the 2015 baseline per location + age + sex
baseline_2015 = df[df['year'] == 2015][['location_name', 'age_group', 'sex_name', 'percent_hbm']]
baseline_2015 = baseline_2015.rename(columns={'percent_hbm': 'percent_hbm_2015'})

# Merge back into the main dataframe
df = df.merge(baseline_2015, on=['location_name', 'age_group', 'sex_name'], how='left')

# Calculate percent change
df['percent_change_from_2015'] = ((df['percent_hbm'] - df['percent_hbm_2015']) / df['percent_hbm_2015']) * 100

# Overwrite the original file
df.to_csv("Ischemic_merged.csv", index=False)

In [7]:
df.head(10)

,location_name,year,age_group,sex_name,val_total,val_hbm,percent_hbm,val_total_formatted,val_hbm_formatted,percent_hbm_2015,percent_change_from_2015
0,Brazil,2015,40 and above,Female,108652.891266,18256.855143,16.802917,108.653,18.257,16.802917,0.000000
1,Brazil,2015,40 and above,Male,172207.149097,28061.476027,16.295186,172.207,28.061,16.295186,0.000000
2,Brazil,2015,Under 40,Female,834.459860,208.465500,24.982088,834,208,24.982088,0.000000
3,Brazil,2015,Under 40,Male,2086.435935,501.419715,24.032356,2.086,501,24.032356,0.000000
4,Brazil,2016,40 and above,Female,112589.394803,19117.745284,16.980059,112.589,19.118,16.802917,1.054232
5,Brazil,2016,40 and above,Male,180394.445082,29717.205038,16.473459,180.394,29.717,16.295186,1.094020
6,Brazil,2016,Under 40,Female,849.426527,214.264074,25.224556,849,214,24.982088,0.970568
7,Brazil,2016,Under 40,Male,2132.978628,518.757556,24.320804,2.133,519,24.032356,1.200249
8,Brazil,2017,40 and above,Female,111153.012274,19013.991470,17.106141,111.153,19.014,16.802917,1.804594
9,Brazil,2017,40 and above,Male,178972.556041,29775.747950,16.637047,178.973,29.776,16.295186,2.097922